<!--
  Title: user-list.component.html
  Author: Yakut Ahmedin
  Date: 9/16/23
  Description: Employee Config page: Update User HTML
-->

<div class="container-fluid pt-2" style="min-height: 72vh">
  <h1 class="text-center">Update User!</h1>

  <div class="row justify-content-center pt-4">
    <div class="col-sm-10 col-md-8 col-lg-6">
      <div class="card">
        <div class="card-body">
          <form [formGroup]="userForm" (ngSubmit)="updateUser()">
            <fieldset class="form-group">
              <legend>User Information</legend>

              <div class="mb-3">
                <label for="txtFirstName">First Name:</label>
                <input
                  type="text"
                  id="txtFirstName"
                  class="form-control"
                  formControlName="firstName"
                  required
                />
              </div>

              <!-- first name error handling -->
              <div
                *ngIf="
                  userForm.controls['firstName'].touched &&
                  userForm.controls['firstName'].hasError('required')
                "
              >
                <div
                  class="alert alert-danger alert-dismissible fade show"
                  role="alert"
                >
                  First name is required.
                  <button
                    type="button"
                    class="btn-close"
                    data-bs-dismiss="alert"
                    aria-label="Close"
                  ></button>
                </div>
              </div>
              <!-- end first name error handling -->

              <div class="mb-3">
                <label for="txtLastName">Last Name:</label>
                <input
                  type="text"
                  id="txtLastName"
                  class="form-control"
                  formControlName="lastName"
                  required
                />
              </div>

              <!-- last name error handling -->
              <div
                *ngIf="
                  userForm.controls['lastName'].touched &&
                  userForm.controls['lastName'].hasError('required')
                "
              >
                <div
                  class="alert alert-danger alert-dismissible fade show"
                  role="alert"
                >
                  Last name is required.
                  <button
                    type="button"
                    class="btn-close"
                    data-bs-dismiss="alert"
                    aria-label="Close"
                  ></button>
                </div>
              </div>
              <!-- end last name error handling -->

              <div class="d-md-flex gap-3">
                <div class="mb-3">
                  <label for="isDisabled">IsDisabled:</label><br />
                  <select
                    formControlName="isDisabled"
                    name="isDisabled"
                    id="isDisabled"
                    class="form-select"
                  >
                    <option [value]="false">Active</option>
                    <option [value]="true">Inactive</option>
                  </select>
                </div>

                <!-- isDisabled error handling -->
                <div
                  *ngIf="
                    userForm.controls['isDisabled'].touched &&
                    userForm.controls['isDisabled'].hasError('required')
                  "
                >
                  <div
                    class="alert alert-danger alert-dismissible fade show"
                    isDisabled="alert"
                  >
                    IsDisabled is required.
                    <button
                      type="button"
                      class="btn-close"
                      data-bs-dismiss="alert"
                      aria-label="Close"
                    ></button>
                  </div>
                </div>
                <!-- end isDisabled error handling -->

                <div class="mb-3">
                  <label for="role">Role:</label><br />
                  <select
                    formControlName="role"
                    name="role"
                    id="role"
                    class="form-select form-select"
                  >
                    <option value="standard">Standard</option>
                    <option value="admin">Admin</option>
                  </select>
                </div>

                <!-- role error handling -->
                <div
                  *ngIf="
                    userForm.controls['role'].touched &&
                    userForm.controls['role'].hasError('required')
                  "
                >
                  <div
                    class="alert alert-danger alert-dismissible fade show"
                    role="alert"
                  >
                    Role is required.
                    <button
                      type="button"
                      class="btn-close"
                      data-bs-dismiss="alert"
                      aria-label="Close"
                    ></button>
                  </div>
                </div>
              </div>
              <!-- end role error handling -->
            </fieldset>

            <input
              type="submit"
              id="submit"
              [disabled]="!userForm.valid"
              value="Submit"
              class="btn btn-lg bg-dark text-white mx-auto d-block"
            />
          </form>
        </div>
      </div>
      <br />
      <a routerLink="/admin/users" class="text-underline-hover text-dark"
        >Return to User List</a
      >
      <br />
      <br />
    </div>
  </div>
</div>
