.container-fluid {
  width: 100vw;
  height: 100vh;
  background-image: url(https://images.unsplash.com/photo-1583413230888-c7b03057be03?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=2070&q=80);
  background-size: cover;
  display: flex;
  align-items: center;
  justify-content: center;
}
