<!--
  Title: verify-security-questions.component.html
  Author: Richard Krasso
  Date: 9/23/23
  Edit: William Egge
  Description: Verify security questions page HTML
 -->

<!-- Main Container for Security Questions Verification Page -->

<div class="container">
  <!-- Start of Security Questions Form -->
  <form
    [formGroup]="securityQuestionsForm"
    (ngSubmit)="verifySecurityQuestions()"
  >
    <!-- Spacer for UI -->
    <br />
    <br />
    <br />

    <!-- Grouping of Security Questions -->
    <fieldset class="mb-3 form-group">
      <h3>Security Questions</h3>

      <!-- Spacer for UI -->
      <br />
      <br />
      <br />

      <!-- Display Error Message (if exists) -->
      <div *ngIf="errorMessage" class="row">
        <div class="class col-32 warning">
          <div>
            <!-- Error Message Content -->
            {{ errorMessage }}
          </div>
        </div>
      </div>

      <!-- First Security Question Section -->
      <div class="row">
        <div class="col-md-12">
          <!-- Loading Spinner for Labels -->
          <div *ngIf="isLoadingLabels">
            <span
              class="spinner-border spinner-border-sm"
              role="status"
              aria-hidden="true"
            ></span>
            Loading...
          </div>

          <!-- Label and Input for First Security Question -->
          <input
            type="text"
            placeholder="{{ question1 }}"
            formControlName="answer1"
          />

          <!-- Validation Error Message for First Security Question -->
          <div
            class="warning"
            *ngIf="
              securityQuestionsForm.controls['answer1'].invalid &&
              (securityQuestionsForm.controls['answer1'].dirty ||
                securityQuestionsForm.controls['answer1'].touched)
            "
          >
            <div class="alert-dismissible fade show" role="alert">
              Answer is required.
            </div>
          </div>
        </div>
      </div>

      <!-- Second Security Question Section -->
      <div class="row">
        <div class="col-md-12">
          <!-- Loading Spinner for Labels -->
          <div *ngIf="isLoadingLabels">
            <span
              class="spinner-border spinner-border-sm"
              role="status"
              aria-hidden="true"
            ></span>
            Loading...
          </div>

          <!-- Label and Input for Second Security Question -->
          <input
            type="text"
            placeholder="{{ question2 }}"
            formControlName="answer2"
          />

          <!-- Validation Error Message for Second Security Question -->
          <div
            class="warning"
            *ngIf="
              securityQuestionsForm.controls['answer2'].invalid &&
              (securityQuestionsForm.controls['answer2'].dirty ||
                securityQuestionsForm.controls['answer2'].touched)
            "
          >
            <div class="alert-dismissible fade show" role="alert">
              Answer is required.
            </div>
          </div>
        </div>
      </div>

      <!-- Third Security Question Section -->
      <div class="row">
        <div class="col-md-12">
          <!-- Loading Spinner for Labels -->
          <div *ngIf="isLoadingLabels">
            <span
              class="spinner-border spinner-border-sm"
              role="status"
              aria-hidden="true"
            ></span>
            Loading...
          </div>

          <!-- Label and Input for Third Security Question -->
          <input
            type="text"
            placeholder="{{ question3 }}"
            formControlName="answer3"
          />

          <!-- Validation Error Message for Third Security Question -->
          <div
            class="warning"
            *ngIf="
              securityQuestionsForm.controls['answer3'].invalid &&
              (securityQuestionsForm.controls['answer3'].dirty ||
                securityQuestionsForm.controls['answer3'].touched)
            "
          >
            <div class="alert-dismissible fade show" role="alert">
              Answer is required.
            </div>
          </div>
        </div>
      </div>
    </fieldset>

    <!-- Button Section for Form Submission -->
    <div class="btn-box">
      <!-- Submit Button with Conditional Loading Spinner -->
      <button
        type="submit"
        class="btn btn-primary"
        [disabled]="!securityQuestionsForm.valid"
      >
        <span *ngIf="!isLoadingSubmit">Verify Security Questions</span>
        <div *ngIf="isLoadingSubmit">
          <span
            class="spinner-border spinner-border-sm"
            role="status"
            aria-hidden="true"
          ></span>
          Loading...
        </div>
      </button>
    </div>
  </form>

  <!-- Return Link to Forgot Password Page -->
  <a
    routerLink="/security/forgot-password"
    class="text-dark text-underline-hover pt-3"
    >Return</a
  >
</div>
