<!--
Title: verify-email.component.ts
 Author: Richard Krasso
 Date: 9/25/2023
 Edited By: William Egge
 Description: verify email component
 -->

<div style="min-height: 600px">
  <br />
  <br />
  <br />

  <h1>Service Graph</h1>

  <p>To use the service graph, <br>
  hover over the slices to see the number of sales for each service.
  </p>

  <p>click a service in the key to toggle it on or off.</p>

  <div class="container">
    <canvas id="bcrsServiceGraph"></canvas>
  </div>

  <br />
  <br />
  <br />
</div>
