<!--
  Title: nav.component.html
  Author: Erin Brady
  Date: 9/15/23
  Description: Navigation bar HTML
-->

<nav class="navbar navbar-expand-sm">
  <a routerLink="/">
    <img src="/assets/images/Logo.png" alt="Bob's Computer Repair Shop logo" class="logo"
  /></a>

  <button
    class="navbar-toggler"
    type="button"
    data-bs-toggle="collapse"
    data-bs-target="#navbarResponsive"
    aria-controls="navbarResponsive"
    aria-expanded="false"
    aria-label="Toggle navigation"
  >
    <span class="navbar-toggler-icon"></span>
  </button>

  <!-- navbar links -->
  <div class="collapse navbar-collapse" id="navbarResponsive">
    <ul class="navbar-nav ms-auto p-2">


      <li class="nav-item" *ngIf="isSignedIn">
        <button mat-raised-button class="action-button" routerLink="/service-repair">Create a New Service Request</button>
      </li>
      <li class="nav-item" *ngIf="isSignedIn && sessionUser.role === 'admin'">
        <a routerLink="/admin/users" class="nav-link"><strong>Employee Configuration</strong> </a>
      </li>
      <li class="nav-item" *ngIf="isSignedIn">
        <a routerLink="/employees" class="nav-link"><strong>Employee Directory</strong></a>
      </li>
      <li class="nav-item" *ngIf="isSignedIn && sessionUser.role === 'admin'">
        <a routerLink="#" class="nav-link"><strong>Service Graph</strong> </a>
      </li>
      <li class="nav-item" >
        <a routerLink="/faq" class="nav-link"
          ><strong>FAQ</strong>
        </a>
      </li>

      <li *ngIf="!isSignedIn" class="nav-item">
        <button mat-raised-button class="action-button" routerLink="/security/signin">Sign In</button>
      </li>

      <!--  user account -->
      <li *ngIf="isSignedIn" class="nav-item dropdown">
        <a
          href="#"
          class="nav-link pe-3"
          id="navbarDropdown"
          role="button"
          data-bs-toggle="dropdown"
          aria-expanded="false"
        >
          <span class="material-icons">person</span>
        </a>

        <ul
          id="dropdownMenu"
          class="dropdown-menu dropdown-menu-end"
          aria-labelledby="navbarDropdown"
        >
          <li class="dropdown-item user-name">Hello, {{ sessionUser.fullName }}</li>
          <hr />
          <li>
            <a routerLink="#" class="dropdown-item link">
              My Profile</a
            >
          </li>
          <li *ngIf="sessionUser.role === 'admin'">
            <a routerLink="#" class="dropdown-item link">My Invoices</a>
          </li>
          <li>
            <a (click)="signout()" class="dropdown-item link">Log Out</a>
          </li>
        </ul>
      </li>
    </ul>
  </div>
</nav>
