/**
  Title: nav.component.css
  Author: Erin Brady
  Date: 9/15/23
  Description: Navigation Bar component styling
*/


nav {
  background-color: #00BCD4;
}

.navbar-brand {
  margin-left: 20px;
}

.nav-link{
  height: 100%;
  margin: 0 10px;
}

.nav-link:hover {
  background-color: #80DEEA;
}
