/**
  Title: nav.component.css
  Author: Erin Brady
  Date: 9/15/23
  Description: Navigation Bar component styling
*/

.nav-link {
  padding: 10px;
}

.nav-link:hover {
  background-color: var(--primary-highlight);
  animation: .1s ease-in-out;
  cursor: pointer;
}

.nav-button-link button {
  text-decoration: none;
  color: black;
  font-weight: 500;
}

nav {
  box-shadow: 0px 4px 2px 0px #0000001c;
  border-bottom: 3px solid var(--primary-color);
}


#signinBtn {
  box-shadow: 0px 4px 2px 0px rgba(0, 0, 0, 0.11);
  border: 1px solid var(--primary-color);
  border-radius: 20px;
  padding: 0px 20px;
}

.navbar-toggler,
.navbar-toggler:focus,
.navbar-toggler:active,
.navbar-toggler-icon:focus {
  outline: none;
  box-shadow: none;
  border: none;
}


@media only screen and (max-width: 576px) {
  nav {
    height: 54px;
  }

  .logo {
    height: 34px;
  }

  #navbarResponsive {
    top: 54px;
    position: absolute;
    right: -1px;
    margin: 0px;
    left: 0px;
    background: #fffffffb;
    border-left: 1px solid #00BCD4;
    border-bottom: 1px solid #00BCD4;
    border-right: 1px solid #00BCD4;
  }
}

#dropdownMenu,
.dropdown-item,
.user-name,
.user-name:hover {
  /* background: var(--primary-color) !important; */
  color: black !important;
}

.link:hover {
  cursor: pointer;
  background-color: var(--primary-highlight) !important;
  color: black !important;
}

/* Show avatar profile dropdown for wider screens */
@media (min-width: 992px) {
  .nav-item.dropdown {
    width: 70px;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .mobile-profile {
    display: none;
  }
}

/* Show standard list items for mobile */
@media (max-width: 992px) {
  .mobile-profile {
    display: block;
  }

  .nav-item.dropdown {
    display: none;
  }

  .action-button {
    margin: 10px 0;
  }
}