<!--
  Title: employee-directory.component.html
  Author: Yakut Ahmedin
  Date: 9/23/23
  Description: Employee directory page: See list of Employee
-->

<div class="container my-3" style="min-height: 72vh">
  <div class="row justify-content-center">
    <div class="col-12 col-sm-8 col-lg-6 my-2">
      <div class="text-center">
        <h3>Our Employee <span> Directory</span></h3>
        <p>
          Meet our dedicated team of computer shopping experts who are here to
          assist you in finding the perfect tech products.
        </p>
        <div class="line"></div>
      </div>
    </div>
  </div>

  <div *ngIf="isLoading" class="d-flex justify-content-center mt-5">
    <div
      class="spinner-border spinner-lg"
      style="width: 3rem; height: 3rem"
      role="status"
      aria-hidden="true"
    >
      <span class="sr-only visually-hidden">Loading...</span>
    </div>
  </div>

  <div class="row" *ngIf="!isLoading">
	<div
  class="col-lg-4 col-md-6 col-sm-6 col-12 mb-4"
  *ngFor="let user of users; let i = index"
>
  <div
    class="card"
    style="
      border-radius: 14px;
      box-shadow: 1px 2px 3px rgba(0, 181, 252, 0.137);
    "
  >
    <div class="d-block justify-content-center">
      <div class="area1 p-3 py-5"></div>
      <div class="area2 px-3">
        <div class="image mr-3">
          <img
            [src]="
              'https://randomuser.me/api/portraits/med/men/' +
              (i + 1) +
              '.jpg'
            "
            class="rounded-circle position-absolute"
            width="100"
            alt="{{ user.firstName }}"
			style="box-shadow: 5px 6px 6px 2px #e9ecef; transform: translateY(-60px);"
          />
          <div class="card-body pt-5">
            <h5 class="card-title pt-3">
              {{ user.firstName }} {{ user.lastName }}
            </h5>
            <p class="card-text">{{ user.role }}</p>
            <ul>
              <li>Phone Number: {{ user.phoneNumber }}</li>
              <li>Address: {{ user.address }}</li>
              <li>Language: {{ user.language }}</li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

</div>
</div>
