/*
  Title: signin.component.css
  Author: William Egge
  Date: 9/15/23
  Description: Sign In page styling
*/

.signin-page {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 50px 0;
  min-height: 80vh;
}

.left-signin-txt h1 {
  color: var(--primary-color);
  font-size: 2.5em;
}

.left-signin-form {
  border-radius: 10px;
}

.card-title {
  color: var(--primary-color);
}

.card-title h2 {
  font-weight: bold;
}

.alert {
  font-size: 0.9em;
  margin-top: 10px;
}

.form-control {
  border-radius: 5px;
}

.btn-primary {
  background-color: var(--primary-color);
  border: none;
}

.btn-primary:hover {
  background-color: var(--primary-highlight);
}

.text-underline-hover:hover {
  text-decoration: underline;
}



/* ----------for feed back------------ */
.background-radial-gradient {
  background-color: hsl(218, 41%, 15%);
  background-image: radial-gradient(650px circle at 0% 0%,
      hsl(218, 41%, 35%) 15%,
      hsl(218, 41%, 30%) 35%,
      hsl(218, 41%, 20%) 75%,
      hsl(218, 41%, 19%) 80%,
      transparent 100%),
    radial-gradient(1250px circle at 100% 100%,
      hsl(218, 41%, 45%) 15%,
      hsl(218, 41%, 30%) 35%,
      hsl(218, 41%, 20%) 75%,
      hsl(218, 41%, 19%) 80%,
      transparent 100%);
}

#radius-shape-1 {
  height: 220px;
  width: 220px;
  top: -60px;
  left: -130px;
  background: radial-gradient(#39b2e2, #1fb8ff);
  overflow: hidden;
}

#radius-shape-2 {
  border-radius: 38% 62% 63% 37% / 70% 33% 67% 30%;
  bottom: -60px;
  right: -110px;
  width: 300px;
  height: 300px;
  background: radial-gradient(#68cee7, #1fc0ff);
  overflow: hidden;
}

.bg-glass {
  background-color: hsla(0, 0%, 100%, 0.9) !important;
  backdrop-filter: saturate(200%) blur(25px);
}