<!--
  Title: verify-email.component.html
  Author: Richard Krasso
  Date: 9/23/23
  Edit: William Egge
  Description: verify email page HTML
 -->

<!-- Verify Email Page: Main Container -->
<div class="container">

  <!-- Begin Email Verification Form -->
  <form [formGroup]="emailForm" (ngSubmit)="verifyEmail()">

    <!-- Display Error Message (if exists) -->
    <div *ngIf="errorMessage" class="row">
      <div class="class col-32">
        <div class="alert alert-danger">
          <!-- Error Message Content -->
          {{ errorMessage }}
        </div>
      </div>
    </div>

    <!-- Spacer for UI -->
    <br />
    <br />
    <br />

    <!-- Employee Information Section -->
    <fieldset class="form-group">
      <h3>Employee Information</h3>

      <!-- Spacer for UI -->
      <br />
      <br />
      <br />

      <!-- Input Fields: Row Container -->
      <div class="row">
        <div class="col-md-12">

          <!-- Email Input -->
          <input
            type="text"
            placeholder="Email"
            formControlName="email"
            name="email"
            id="email"
            required
          />

          <!-- Display Validation Error for Email -->
          <div
            class="warning"
            *ngIf="
              emailForm.controls['email'].touched &&
              emailForm.controls['email'].hasError('email')
            "
          >
            <div
              class="alert-dismissible fade show"
              role="alert"
            >
              <!-- Validation Error Content -->
              Please enter a valid email address.
            </div>
          </div>
        </div>
      </div>
    </fieldset>

    <!-- Submit Button: Container -->
    <div class="btn-box">

      <!-- Submit Button (Enabled when form is valid) -->
      <button
        type="submit"
        class="btn btn-primary"
        [disabled]="!emailForm.valid"
      >
        <!-- Display Text (When not loading) -->
        <span *ngIf="!isLoading">Verify email address</span>

        <!-- Loading Indicator (Spinner) -->
        <div *ngIf="isLoading">
          <span
            class="spinner-border spinner-border-sm"
            role="status"
            aria-hidden="true"
          ></span>
          <!-- Loading Text -->
          Loading...
        </div>
      </button>
    </div>

    <!-- Navigation Link to Sign-in Page -->
    <a routerLink="/security/signin">Return</a>
  </form>
  <!-- End of Email Verification Form -->
</div>
