/*
  Title: verify-email.component.css
  Author: William Egge
  Date: 9/24/23
  Description: verify email page styling
*/

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.verify-email-page {
  width: 360px;
  height: 80vh;
  margin: 20px auto 0;
  position: relative;
  background: #fff;
  border-radius: 5px;
  overflow-y: auto;
  overflow-x: hidden;
}

input, select {
  width: 100%;
  padding: 10px 5px;
  margin: 5px 0;
  border: 0;
  border-bottom: 1px solid #999;
  outline: none;
  background: transparent;
}

.container {
  border-radius: 10px;
}

.left-signin-txt h1 {
  color: var(--primary-color);
  font-size: 2.5em;
}

.left-signin-form {
  border-radius: 10px;
}

.card-title {
  color: var(--primary-color);
}

.card-title h2 {
  font-weight: bold;
}

.alert {
  font-size: 0.9em;
  margin-top: 10px;
}

.form-control {
  border-radius: 5px;
}

.btn-primary {
  background-color: var(--primary-color);
  border: none;
}

.btn-primary:hover {
  background-color: var(--primary-highlight);
}

.text-underline-hover:hover {
  text-decoration: underline;
}
