<footer class="mt-5 container-fluid text-center">
	<div class="container">
	  <div class="d-lg-flex text-start">
		<!--  footer left side -->
		<div class="left-foot w-100 py-4">
		  <img src="./assets/images/Logo.png" alt="" />
		  <p class="my-4">
			<i>Templates © Copyright 2023. All Right Reserved.</i>
		  </p>
		  <a href="mailto:support@nodebuket.com">support@nodebucket.com</a>
		</div>
  
		<!-- footer righ side -->
		<div class="right-foot w-100 py-4">
		  <h6>Subscribe to receive new update every month.</h6>
		  <div class="email-input my-4">
			<input type="text" placeholder="Enter Your Email " class="w-100" />
			<button><strong>Subscribe</strong></button>
		  </div>
		  <div class="social-links d-flex align-item-center">
			<h6>Social Links:</h6>
			<a href="https://www.facebook.com/nodebucket" target="_blank">
			  <img
				src="../../../assets/facebook-logo.png"
				alt="black and white facebook logo"
				class="pe-4 ps-3"
			  />
			</a>
			<a href="https://www.twitter.com/nodebucket" target="_blank">
			  <img
				src="../../../assets/twitter-logo.png"
				alt="black and white facebook logo"
			  />
			</a>
		  </div>
		</div>
	  </div>
	</div>
  </footer>