/**
  Title: footer.component.css
  Author: Yakut Ahmedin
  Updated by: Erin Brady
  Date: 9/16/23
  Description:Footer component styling
*/


footer {
  background: var(--primary-highlight);
  border-top: 3px solid var(--primary-color);
}

.email-input input {
  width: 100%;
  max-width: 550px;
  padding: 16px 130px 16px 30px;
  border-radius: 40px;
  outline: none;
  border: 1px solid var(--primary-color);
  box-shadow: 0px 4px 2px 0px rgba(0, 0, 0, 0.11);
}

.email-input button {
  position: absolute;
  background: var(--primary-color);
  color: #fff;
  padding: 2px 20px 5px 20px;
  margin: 10px;
  border: none;
  height: 40px;
  border-radius: 20px;
  transform: translateX(-135px);
  box-shadow: 0px 4px 2px 0px rgba(0, 0, 0, 0.11);
}

/* Mobile */
@media only screen and (max-width: 768px) {
  .email-input {
      padding: 0px !important;
      max-width: 100% !important;
  }

  .email-input input {
      width: 100% !important;
      max-width: 100% !important;
  }
}
