<!--
  Title: user-list.component.html
  Author: Yakut Ahmedin
  Date: 9/16/23
  Description: Employee Config page: User List HTML
-->

<div class="container-fluid pt-4" style="max-width: 2000px">
  <div class="row justify-content-center">
    <div class="col-sm-12 col-md-12 col-xl-10">
      <!-- Error Message -->
      <div *ngIf="errorMessage">
        <div class="alert alert-danger" role="alert">
          {{ errorMessage }}
        </div>
      </div>

      <!-- Success Message -->
      <div *ngIf="successMessage">
        <div class="alert alert-success" role="alert">
          {{ successMessage }}
        </div>
      </div>

      <!-- Page Header -->
      <div
        class="d-block d-md-flex align-items-center justify-content-between pt-4"
      >
        <div class="">
          <h2 class="mb-3">Employee Configuration Portal</h2>
          <p class="mt-2">Manage all existing user or you can add new user.</p>
        </div>

        <!-- "Add Employee" Button -->
        <button
          mat-raised-button
          class="action-button"
          routerLink="/admin/users/new"
        >
          <i
            class="material-icons border fw-bold rounded-circle me-2"
            style="font-size: medium"
            >add</i
          >
          Add an Employee
        </button>
      </div>

      <hr />

      <!-- Loading Spinner -->
      <div *ngIf="isLoading" class="d-flex justify-content-center mt-5">
        <div
          class="spinner-border spinner-lg"
          style="width: 3rem; height: 3rem"
          role="status"
          aria-hidden="true"
        >
          <span class="sr-only visually-hidden">Loading...</span>
        </div>
      </div>

      <!-- tablet and desktop view ports -->
      <div
        class="d-none d-sm-none d-md-block d-lg-block d-xl-block"
        *ngIf="!isLoading"
      >
        <div class="card pb-3">
          <div class="card-body p-2">
            <table class="table align-middle mb-0 bg-white border">
              <thead class="table-info">
                <tr>
                  <th class="py-2 ps-2">No</th>
                  <th class="py-2 ps-2">Name</th>
                  <th class="py-2 ps-2">Phone Number</th>
                  <th class="py-2 ps-2">Address</th>
                  <th class="py-2 ps-2">User ID</th>
                  <th class="py-2 ps-2">Status</th>
                  <th class="py-2 ps-2">Role</th>
                  <th class="py-2 ps-2">Functions</th>
                </tr>
              </thead>
              <tbody *ngFor="let user of users; let i = index">
                <tr class="w-100">
                  <td class="ps-2" scope="row">{{ i + 1 }}</td>
                  <td class="ps-2">
                    <div class="d-flex align-items-center">
                      <img
                        [src]="
                          'https://randomuser.me/api/portraits/med/men/' +
                          (i + 1) +
                          '.jpg'
                        "
                        alt=""
                        style="width: 45px; height: 45px"
                        class="rounded-circle"
                      />
                      <div class="ms-3">
                        <p class="fw-bold mb-1">
                          {{ user.firstName }} {{ user.lastName }}
                        </p>
                        <p class="text-muted mb-0">{{ user.email }}</p>
                      </div>
                    </div>
                  </td>
                  <td class="ps-2">{{ user.phoneNumber }}</td>
                  <td class="ps-2">{{ user.address }}</td>
                  <td class="ps-2">{{ user.userId }}</td>
                  <td class="ps-2">
                    <span
                      [ngClass]="
                        user.isDisabled
                          ? 'badge rounded-pill bg-danger text-light'
                          : 'badge rounded-pill bg-success text-light'
                      "
                    >
                      {{ user.isDisabled ? "Inactive" : "Active" }}</span
                    >
                  </td>
                  <td class="ps-2">{{ user.role }}</td>
                  <td class="ps-2">
                    <div class="functions-icons">
                      <a
                        class="link"
                        routerLink="/admin/users/{{ user.userId }}/view"
                      >
                        <span class="material-icons text-secondary">edit</span>
                      </a>

                      <a class="link" (click)="deleteUser(user.userId)">
                        <span class="material-icons text-secondary"
                          >delete</span
                        >
                      </a>
                    </div>
                  </td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
        <!-- end of tablet viewport -->
      </div>

      <!-- mobile viewports-->
      <div class="d-md-none d-lg-none d-xl-none mb-5">
        <div class="card" style="margin: 10px" *ngFor="let user of users">
          <div class="card-body">
            <h5 class="card-title">{{ user.firstName }} {{ user.lastName }}</h5>
            <h6 class="card-subtitle mb-2 text-muted">Role: {{ user.role }}</h6>
            <p class="card-text">Email: {{ user.email }}</p>
            <a
              routerLink="/admin/users/{{ user.userId }}/view"
              class="card-link"
              >Edit</a
            >
            <a (click)="deleteUser(user.userId)" class="card-link">Delete</a>
          </div>
        </div>
      </div>
    </div>
  </div>
  <br />
  <br />
  <br />
  <br />
</div>
