/**
  Title: user-list.component.css
  Author: Yakut Ahmedin
  Updated by: Erin Brady
  Date: 9/16/23
  Description: Employee Management page styling
*/

.container-fluid {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  min-height: 80vh;
}
.link .material-icons {
  cursor: pointer;
  color: rgba(var(--bs-secondary-rgb), 1);
  transition-duration: 300ms;
}

.link .material-icons:hover {
  color: var(--primary-color) !important;
  transition-duration: 300ms;
}


.card {
  max-width: 100%;
  overflow-x: auto;
  border: 1px solid #ddd;
  border-radius: 10px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.table {
  width: 100%;
  table-layout: auto; /* Allow the table to determine column widths */
}

/* Limit the width of table cells */
.table td {
  max-width: 200px; /* Adjust the width */
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

