/**
  Title: user-list.component.css
  Author: Yakut Ahmedin
  Updated by: Erin Brady
  Date: 9/16/23
  Description: Employee Management page styling
*/

.container-fluid {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  min-height: 80vh;
}

.col-sm-12 {
  display: flex;
  flex-direction: column;
  row-gap: 20px;
}

.functions-icons {
  display: flex;
  justify-content: space-around;
}

.link .material-icons {
  cursor: pointer;
  color: rgba(var(--bs-secondary-rgb), 1);
  transition-duration: 300ms;
}

.link .material-icons:hover {
  color: var(--primary-color) !important;
  transition-duration: 300ms;
}
