/**
  Title: styles.css
  Author: Professor Krasso
  Date: 9/15/23
  Description: Navigation Bar component styling
  Updated by: Erin Brady
*/

/* You can add global styles to this file, and also import other style files */

/* :root {
  --primary-color: #00BCD4;
  --primary-highlight: #80DEEA
}

html, body { height: 100%; }
body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
  background-color: RGB(250, 250, 250);
}

.action-button {
  background-color: var(--primary-color) !important;
  transition-duration: 800ms;
}

.action-button:hover {
  background-color: var(--primary-highlight) !important;
  transition-duration: 800ms;
} */


html,
body {
  height: 100%;
}

body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

.blue {
  color: #2196f3;
}

.green {
  color: #66bb6a;
}

.attribution-link {
  text-decoration: none;
  column-rule-color: white;
}

.attribution-link:hover {
  text-decoration: underline;
}

.card-title-icon {
  text-align: center;
}

.card-title-icon,
.mat-icon {
  font-size: 72px;
}

.align-center {
  text-align: center;
}

html,
body {
  height: 100%;
}

body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}