<!--
  Title: reset-password.component.html
  Author: Richard Krasso
  Date: 9/23/23
  Edit: William Egge
  Description: Reset password page HTML
 -->

<!-- Main Container for Change Password Page -->
<div class="reset-password-page" style="min-height: 600px">
  <div class="container" style="min-height: 350px">
    <div class="row justify-content-center mt-5 h-100">
      <div>
        <!-- Start of Change Password Form -->
        <form [formGroup]="changePasswordForm" (ngSubmit)="changePassword()">
          <!-- Display Error Message if Present -->
          <div class="alert alert-danger" role="alert" *ngIf="errorMessage">
            {{ errorMessage }}
          </div>

          <!-- Fieldset for Change Password Information -->
          <fieldset class="mb-3 form-group">
            <legend>Change Password</legend>

            <!-- Row Container for Input Fields -->
            <div class="row">
              <div class="col-md-12">
                <!-- Password Input Field -->
                <label for="password" class="form-label">Password:</label>
                <input
                  type="password"
                  formControlName="password"
                  class="form-control"
                />

                <!-- Password Validation Error for Required Field -->
                <div
                  *ngIf="
                    changePasswordForm.controls['password'].hasError(
                      'required'
                    ) &&
                    (changePasswordForm.controls['password'].dirty ||
                      changePasswordForm.controls['password'].touched)
                  "
                >
                  <div
                    class="alert alert-danger alert-dismissible fade show"
                    role="alert"
                  >
                    Password is required.
                    <input
                      type="button"
                      class="btn-close"
                      data-bs-dismiss="alert"
                      aria-label="Close"
                    />
                  </div>
                </div>

                <!-- Password Validation Error for Pattern -->
                <div
                  *ngIf="
                    changePasswordForm.controls['password'].hasError('pattern')
                  "
                >
                  <div
                    class="alert alert-danger alert-dismissible fade show"
                    role="alert"
                  >
                    Password must be at least 8 characters long, contain at
                    least one uppercase letter, one lowercase letter, and one
                    number.
                    <input
                      type="button"
                      class="btn-close"
                      data-bs-dismiss="alert"
                      aria-label="Close"
                    />
                  </div>
                </div>
              </div>
            </div>
          </fieldset>

          <!-- Submit Button Container -->
          <div class="d-grid">
            <!-- Submit Button with Loading Indicator -->
            <button
              type="submit"
              class="btn btn-primary"
              [disabled]="!changePasswordForm.valid"
            >
              <!-- Text Displayed when not Loading -->
              <span *ngIf="!isLoading">Change Password</span>

              <!-- Loading Spinner -->
              <div *ngIf="isLoading">
                <span
                  class="spinner-border spinner-border-sm"
                  role="status"
                  aria-hidden="true"
                ></span>
                Loading...
              </div>
            </button>
          </div>
        </form>
        <!-- End of Change Password Form -->

        <!-- Return to Forgot Password Link -->
        <a
          routerLink="/security/forgot-password"
          class="text-dark text-underline-hover pt-3"
          >Return</a
        >
      </div>
    </div>
  </div>
</div>