<!--
  Title: reset-password.component.html
  Author: Richard Krasso
  Date: 9/23/23
  Edit: William Egge
  Description: Reset password page HTML
 -->

<!-- Main Container for Change Password Page -->
<div class="container">
  <div>
    <!-- Start of Change Password Form -->
    <form [formGroup]="changePasswordForm" (ngSubmit)="changePassword()">
      <!-- Spacer for UI -->
      <br />
      <br />
      <br />

      <!-- Fieldset for Change Password Information -->
      <fieldset class="mb-3 form-group">
        <h3>Change Password</h3>

        <!-- Spacer for UI -->
        <br />
        <br />
        <br />

        <!-- Display Error Message (if exists) -->
        <div *ngIf="errorMessage" class="row">
          <div class="class col-32 warning">
            <!-- Error Message Content -->
            {{ errorMessage }}
          </div>
        </div>

        <!-- Row Container for Input Fields -->
        <div class="row">
          <div class="col-md-12">
            <!-- Password Input Field -->
            <input
              type="password"
              placeholder="Password"
              formControlName="password"
            />

            <!-- Password Validation Error for Required Field -->
            <div
              class="warning"
              *ngIf="
                changePasswordForm.controls['password'].hasError('required') &&
                (changePasswordForm.controls['password'].dirty ||
                  changePasswordForm.controls['password'].touched)
              "
            >
              <div class="alert-dismissible fade show" role="alert">
                Password is required.
              </div>
            </div>

            <!-- Password Validation Error for Pattern -->
            <div
              class="warning"
              *ngIf="
                changePasswordForm.controls['password'].touched &&
                changePasswordForm.controls['password'].hasError('pattern')
              "
            >
              <div class="alert-dismissible fade show" role="alert">
                Password must be at least 8 characters long, contain at least
                one uppercase letter, one lowercase letter, and one number.
              </div>
            </div>
          </div>
        </div>
      </fieldset>

      <!-- Submit Button Container -->
      <div class="btn-box">
        <!-- Submit Button with Loading Indicator -->
        <button
          type="submit"
          class="btn btn-primary"
          [disabled]="!changePasswordForm.valid"
        >
          <!-- Text Displayed when not Loading -->
          <span *ngIf="!isLoading">Change Password</span>

          <!-- Loading Spinner -->
          <div *ngIf="isLoading">
            <span
              class="spinner-border spinner-border-sm"
              role="status"
              aria-hidden="true"
            ></span>
            Loading...
          </div>
        </button>
      </div>
    </form>
    <!-- End of Change Password Form -->

    <!-- Return to Forgot Password Link -->
    <a
      routerLink="/security/forgot-password"
      class="text-dark text-underline-hover pt-3"
      >Return</a
    >
  </div>
</div>
