<!--
  Title: home.component.html
  Author: Erin Brady
  Date: 9/15/23
  Description: Landing page HTML
-->

<!-- Responsive layout -->
<div class="container-fluid">

  <!-- Call to Action and Banner image Row -->
  <div class="row">
    <div class="col-md-6">
      <div class="call-to-action">
        <h1>Welcome to Bob's Computer Repair Shop</h1>
        <i><h4>Your Trusted Technology Solution</h4></i>
        <hr>
        <h5>At Bob's Computer Repair Shop, we merge the expertise of our skilled technicians with cutting-edge technology to offer top-notch service for our valued employees.</h5>
        <h6>Say goodbye to the hassle of submitting service repair requests through emails or phone calls. Our Employee Service Repair Portal is your dedicated platform to effortlessly request and track service repairs for your workplace needs.</h6>
        <button mat-raised-button class="action-button" routerLink="/security/signin">Get Started</button>
      </div>
    </div>

    <div class="col-md-6">
      <div class="banner">
        <img src="https://images.unsplash.com/photo-1549921296-bc643ead1e65?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=1365&q=80" alt="Desktop Computer image shot by Daniel Korpai on unsplash." id="main-img">
      </div>
    </div>
  </div>

  <!-- Announcements Row -->
  <div class="row row-title"><h2>Announcements</h2></div>
  <div class="row row-cols-1 row-cols-md-3 g-4 announcements-row">
    <div class="col">
      <div class="card h-100">
        <img src="/assets/images/magic-computer.png" alt="Laptop balancing on finger." class="announcement-img card-img-top">
        <div class="card-body">
          <h5 class="card-title">New Service Request Portal Launch:</h5>
          <p class="card-text">Exciting News! Introducing our brand-new Service Request Portal. Seamlessly request and track computer repairs with just a few clicks. Say goodbye to hassles and welcome efficiency.</p>
        </div>
      </div>
    </div>
    <div class="col">
      <div class="card h-100">
        <img src="/assets/images/employee.png" alt="" class="announcement-img card-img-top">
        <div class="card-body">
          <h5 class="card-title">Employee of the Month:</h5>
          <p class="card-text">Congratulations to our shining star! Our Employee of the Month award goes to someone who embodies dedication, expertise, and teamwork. Meet the heart and soul of our repair shop.</p>
        </div>
      </div>
    </div>
    <div class="col">
      <div class="card h-100">
        <img src="/assets/images/child.png" alt="White and gray castle overlooking griffon statues." class="announcement-img card-img-top">
        <div class="card-body">
          <h5 class="card-title">Bob Gives Back:</h5>
          <p class="card-text">Join our volunteer initiative to repair computers and contribute to a better education for our next generation of IT experts. Your technical skills can make a real difference. Exciting experiences await!</p>
        </div>
      </div>
    </div>
  </div>

  <!-- <a routerLink="/security">Test Security Module</a> -->
</div>


