/**
  Title: home.component.css
  Author: Erin Brady
  Date: 9/15/23
  Description: Landing page styling
*/

.container-fluid {
  margin: 100px auto;
  min-height: 90vh;
}

#main-img {
  max-height: 85vh;
  width: 100%;
  max-width: max-content;
  margin: 0 auto;
}

.call-to-action {
  margin-left: 20px;
  display: flex;
  flex-direction: column;
  row-gap: 5%;
  justify-content: center;
  height: 100%;
}

.action-button {
  width: 60%;
  margin: 0 auto;
  height: 2.5em;
  font-weight: 500;
  border-radius: 50px;
}

.banner {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}

.row {
  margin-top: 30px;
  --bs-gutter-y: 40px
}

.announcements-row {
  margin: 0;
}

.card {
  width: 90%;
  margin: 0 auto;
}

.row-title h2 {
  padding-left: 50px;
}
